<!DOCTYPE html>
<html>

<head>
    <%- include ('../partials/header.ejs') %>

</head>

<body>


  <%- include ('../partials/orgNav.ejs') %>

    <div class="container justify-content-center">
        <form id="courseForm" class="justify-content-around" method="POST" action="<%= 'courses/edit/' + id %>"
            onsubmit="return validateForm()">
            <h2 class="mt-5">Edit Course</h2>
            <div class="form-row mt-3">
              <div class="col-6 mb-3">
                <label for="coursename">Course Name</label>
                <input type="text" class="form-control" id="coursename" name="coursename" required="true" value=<%= title %>>
              </div>
              <div class="col-5 mb-3">
                <label for="topic">Topic</label>
                <input type="text" class="form-control" id="topic" name="topic" required="true" value=<%= topic %>>
              </div>
            </div>
            <div class="form-row">
              <div class="col-2 mb-3">
                <label for="capacity">Capacity</label>
                <input type="number" class="form-control" id="capacity" name="capacity" min="0" required="true" value=<%= seats %>>
              </div>
              <div class="col-9 mb-3">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" required value=<%= location %>>
              </div>
            </div>
            <div id="outerSession">
              <% sessions.forEach((item, index) => { %>
                <div id=<%= 'session' + (index + 1) %>>
                  <div class="form-row">
                    <div class="col-3 ml-3 mb-3 date-wrapper">
                      <label for="date">Session Date</label>
                      <input type="date" class="form-control" id=<%= 'sessionDate' + (index + 1) %> name=<%= 'sessionDate' + (index + 1) %> value=<%= item.date %> required="true">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-3 ml-3 mb-3 start-wrapper">
                      <label for="startTime1">Start Time</label>
                      <input type="time" class="form-control" id=<%= 'startTime' + (index + 1) %> name=<%= 'startTime' + (index + 1) %> value=<%= item.start %> required="true">
                    </div>
                    <div class="col-3 ml-3 mb-3 end-wrapper">
                      <label for="endTime1">End Time</label>
                      <input type="time" class="form-control" id=<%= 'endTime' + (index + 1) %> name=<%= 'endTime' + (index + 1) %> value=<%= item.end %> required="true">
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
            <div class="form-row">
              <div class="col-2 mb-3">
                <button class="btn btn-dark" type="button" id="addSession" name="addSession">Add Session</button>
              </div>
            </div>
            <div class="form-row">
              <div class="col-2 mb-3">
                <button class="btn btn-dark" type="button" id="removeSession" name="removeSession" hidden>Remove Session</button>
              </div>
            </div>
            <div class="form-row">
              <div class="col-3 mb-3">
                <label for="deadline">Registration Deadline Date</label>
                <input type="date" class="form-control" id="deadline" name="deadline" value=<%= deadline.date %> required>
              </div>
              <div class="col-3 mb-3">
                  <label for="deadTime">Registration Deadline Time</label>
                  <input type="time" class="form-control" id="deadTime" name="deadTime" value=<%= deadline.time %> required>
              </div>
            </div>
            <div class="form-row">
              <div class="col-10 mb-4">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="5"><%= description %></textarea>
              </div>
            </div>
            <input type="number" id="sessionTracker" name="sessionTracker" value=<%= sessionNum %> hidden>
            <input type="submit" class="btn btn-dark" value="Create New Course">
        </form>
    </div>



</body>
