<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/header.ejs') %>
</head>

<body>

  <% if (isOrganizer) { %>
    <%- include('../partials/orgNav.ejs') %>
  <% } else { %>
    <%- include('../partials/nav.ejs') %>
  <% } %>



  <div class="container">
    <div class="row pt-5 pb-2 justify-content-between">
      <div class="col-6">
        <h2>Upcoming courses
          <!--<i class="material-icons">event</i>-->
        </h2>
      </div>
      <div class="col-5">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Courses" aria-label="Search Courses"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-dark justify-content-center" type="button">
              <i class="material-icons md-24">search</i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Course Name</th>
            <th scope="col">Topic</th>
            <th scope="col">Location</th>
            <th scope="col">Sessions</th>
            <th scope="col">Registration Deadline</th>
            <th scope="col">Next Session</th>
            <th scope="col">Seats</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- row template -->
          <% data.forEach((item, index) => { %>
          <tr>
            <th scope="row"><%=index+1 %></th>
            <td><a href=<%= '/courses/' + item.id %>><%= item.title %></a></td>
            <td><%= item.topic %></td>
            <td><%= item.delivery %></td>
            <td><%= item.sessions %></td>
            <td><%= item.time %></td>
            <td><%= item.nextSession %></td>
            <% if (item.position > item.maxSeats) { %>
              <td><%= item.seats %>/<%= item.maxSeats %> [<%= (item.position-item.maxSeats) %>]</td>
            <% } else { %>
              <td><%= item.seats %>/<%= item.maxSeats %></td>
            <% } %>
            <td><%= item.status %></td>
            <td>
              <a href=<%= '/courses/' + item.id %>><i class="material-icons md-24">visibility</i></a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
