<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/header.ejs') %>
  <link href="/assets/bootstrap-table.scss" rel="stylesheet" />
</head>

<body>

  <%- include('../partials/orgNav.ejs') %>

  <div class="container">
    <div class="row pt-5 pb-2 justify-content-between">
      <div class="col-6">
        <h2>Manage Courses
          <a class="btn p-0" href="/courses/new"><i class="material-icons md-36">add_circle</i></a>
        </h2>
      </div>
    </div>
    <table id="tb" class="table table-striped col-12" data-toggle="table" data-pagination="true" data-search="true"
      data-unique-id="id">
      <thead>
        <tr>
          <th class="d-none" scope="col" data-field="id" data-sortable="false"></th>
          <th scope="col" data-field="title" data-sortable="true">Course Name</th>
          <th scope="col" data-field="topic" data-sortable="true">Topic</th>
          <th scope="col" data-field="delivery" data-sortable="true">Location</th>
          <th scope="col" data-field="sessions" data-sortable="true">Sessions</th>
          <th scope="col" data-field="seats" data-sortable="true">Seats</th>
          <th scope="col" data-field="rdeadline" data-sortable="true">Registration Deadline</th>
          <th scope="col" data-field="status" data-sortable="true">Status</th>
          <!-- Actions - can remove if necessary-->
          <th scope="col" data-field="modify"></th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((item, index) => { %>
        <tr>
          <th class="d-none" id=<%= item.id %>><%= item.id %></th>
          <td><%= item.title %></td>
          <td><%= item.topic %></td>
          <td><%= item.delivery %></td>
          <td><%= item.sessions %></td>
          <td><%= item.seats %>/<%= item.maxSeats %></td>
          <td><%= item.deadline %></td>
          <td><%= item.status %></td>
          <td>
            <i class="btn p-0 m-0 material-icons md-36">edit</i>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
  <script>
    function handleCellClick(event, field, value, row, $element) {
      // console.log(field);
      if (field == "modify")
        $(location).attr('href', '/courses/edit/' + row.id);
      else
        $(location).attr('href', '/courses/' + row.id);
    }
    function addRow(course) {
      $("#tb").bootstrapTable('insertRow', {
        index: 0,
        row: {
          id: course.id,
          title: course.title,
          topic: course.topic,
          delivery: course.delivery,
          sessions: course.sessions,
          seats: (course.seats + "/" + course.maxSeats),
          rdeadline: course.rdeadline,
          status: course.status || 'N/A',
          modify: '<i class="btn p-0 m-0 material-icons md-36">edit</i>'
        }
      });
    }
    function removeRow(id) {
      $("#tb").bootstrapTable('removeByUniqueId', id);
    }
    function updateCourse(id, course) {
      $("#tb").bootstrapTable('updateByUniqueId', {
        id: id,
        row: {
          id: course.id,
          title: course.title,
          topic: course.topic,
          delivery: course.delivery,
          sessions: course.sessions,
          seats: (course.seats + "/" + course.maxSeats),
          rdeadline: course.rdeadline,
          status: course.status || 'N/A',
          modify: '<i class="btn p-0 m-0 material-icons md-36">edit</i>'
        }
      })
    }
    // force reload when using back button
    if (performance.navigation.type == 2) {
      location.reload(true);
    }
    window.onload = () => {
      $("#tb").on('click-cell.bs.table', handleCellClick);
      socket.on('courseAdd', (data) => {
        console.log(data.course);
        // location.reload(true);
        addRow(data.course);
      });
      socket.on('courseDelete', (data) => {
        removeRow(data.courseID);
      });
      socket.on('courseEnroll', (data) => {
        jQuery.getJSON("/coursedata/" + data.courseID, (response, status) => {
          console.log(response);
          updateCourse(data.courseID, response);
        });
      });
      socket.on('courseWithdraw', (data) => {
        jQuery.getJSON("/coursedata/" + data.courseID, (response, status) => {
          console.log(response);
          updateCourse(data.courseID, response);
        });
      });
    }
  </script>
</body>

</html>